 /* .backdrop{
 position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: -10; 
    background-color:rgba(3, 3, 14, 0.205);
   
} */
/* .navbar{
    
    z-index: 100;
    background: white;
}
.box{
    position: fixed;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rbba(0,0,0,0.26);
} */ 
